html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(darkmagenta, pink);
    text-align: center;
    overflow: hidden;
}

.flowers-img {
    width: 300px;
}
